/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600;700&display=swap');

* {
    font-family: 'Be Vietnam', sans-serif;
}

:root {
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);
    --Text-light: #a0a0a0;
}

body {
    overflow-x: hidden;
}